# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfvars
*.tfvars
*.tfplan

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Secrets
*.pem
*.key
.env